img {
    width: 50px;
    margin-right: 10px;
}

.CartItem {
    border: 1px solid white;
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}