@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');


.btn-confirmar {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 17px;
}

.confirm-text {
    padding-top: 300px;
}